@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*{
    font-family: 'SF Pro Display', sans-serif;
    box-sizing: border-box;
    --bs-body-bg: #000000;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

p{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin: 0;
}

span{
    font-size: 55px;
    font-weight: 600;
    color: rgb(255, 177, 245);
}

.block-menu{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.output{
    width: 600px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 5px solid white;
    background-color: rgba(0,0,0,0);
    opacity: 50%;
    transition: opacity 0.5s;
    margin: 25px;
}

.output:hover{
    opacity: 100%;
    transition: opacity 0.5s;
}

.button button{
    width: 200px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px;
    border: 5px solid white;
    color: white;
    background-color: rgba(0,0,0,0);
    opacity: 50%;
    transition: transform 0.5s, opacity 0.5s;;
}

.button button:hover, 
.button button:focus{
    opacity: 100%;
    transform: scale(105%);
    transition: transform 0.5s, opacity 0.5s;
}

.button button:active,
.output:active{
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 360px) and (max-width: 491px){
    p{
        font-size: 40px;
    }
    span{
        font-size: 35px;
    }
    .output{
        width: 300px;
    }
    .button button{
        font-size: 25px;
    }
}

@media screen and (min-width: 492px) and (max-width: 768px){
    p{
        font-size: 50px;
    }
    span{
        font-size: 45px;
    }
    .output{
        width: 450px;
    }
    .button button{
        font-size: 35px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    
}

@media screen and (min-width: 993px) and (max-width: 1200px){

}

@media screen and (min-width: 1201px) and (max-width: 1400px){

}
    