@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*{
    font-family: 'SF Pro Display', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}

p{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin: 0;
}

span{
    font-size: 55px;
    font-weight: 600;
    color: rgb(255, 177, 245);
}

img{
    width: 100%;
}

.row{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.block-menu{
    width: max-content;
    display: flex;
    flex-direction: column;
}

.output{
    display: flex;
    justify-content: center;
    width: 600px;
    border-radius: 15px;
    border: 5px solid white;
    opacity: 75%;
    margin-bottom: 15px;
    transition: opacity 0.5s;
    background-color: #000000;
}

.output:hover{
    opacity: 100%;
    transition: opacity 0.5s;
}

.block-button{
    display: flex;
    justify-content: space-between;
}

.block-button button{
    display: flex;
    justify-content: center;
    width: 200px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px;
    border: 5px solid white;
    color: white;
    opacity: 75%;
    transition: transform 0.5s, opacity 0.5s;
    background-color: #000000;
}

.block-button button:hover{
    opacity: 100%;
    transform: scale(105%);
    transition: transform 0.5s, opacity 0.5s;
}

.button-link button, .button-back button{
    width: 80px;
}


@media screen and (min-width: 360px) and (max-width: 491px){
    p{
        font-size: 40px;
    }
    span{
        font-size: 35px;
    }
    .output{
        width: 300px;
    }
    .button-change-color button{
        font-size: 25px;
    }
}

@media screen and (min-width: 492px) and (max-width: 768px){
    p{
        font-size: 50px;
    }
    span{
        font-size: 45px;
    }
    .output{
        width: 450px;
    }
    .button-change-color button{
        font-size: 35px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    
}

@media screen and (min-width: 993px) and (max-width: 1200px){

}

@media screen and (min-width: 1201px) and (max-width: 1400px){

}
    